body{
	background-color:#000000;
	color: white;
	font-family: 'Roboto', sans-serif;
}

p.ford-parragraph{
	font-size: 3em;
}

p.other{
	font-size: 1em;
}

.navbar-default {
	background-color: #000;
	color: white:
}

.navbar-collapse {
	background-color: #ddd;
	color: #eee;
}