body{
	background-color:#000000;
	color: white;
	font-family: 'Roboto', sans-serif;
}

p.ford-parragraph{
	font-size: 3em;
}

p.other{
	font-size: 1em;
}

.navbar .navbar-defuault {
	background-color: #000
	border-color #000
	color: #000;
}

.navbar .navbar-default .navbar-brand {
	color: #fff;
}

.navbar .navbar-default .navbar-hover:hover,
.navbar .navbar-default .navbar-brand:focus {
	color: transparent:;
	background-color: #777;
}

.navbar .navbar-default .navbar-nav > li > a {
	color: #fff;
	background color: #000;
}

.navbar .navbar-default .navbar-nav > .active > a,
.navbar .navbar-default .navbar-nav > .active > a:hover,
.navbar .navbar-default .navbar-nav > .active > a:focus {
	color: #e6e6e6;
	background color: #777;
}

.navbar .navbar-default .navbar-nav > li > a:hover,
.navbar .navbar-defatul .navbar-nav > li > a:focus {
	color: transparent;
	background-color: transparent;
}