body{
	background-color:#000000;
	color: white;
	font-family: 'Roboto', sans-serif;
}

p.ford-parragraph{
	font-size: 3em;
}

p.other{
	font-size: 1em;
}

.navbar-defuault .navbar-header {
	color: #fff;
	background-color: #000;
}

.navbar-default .navbar-nav{
	color: #fff;
}